{
	admin off
}

:3000 {
	@projectEvents {
		path_regexp projectEvents ^/projects/[^/]+/events$
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @projectEvents 127.0.0.1:8080

	@serverRoutes {
		path /auth/* /account /hosts /clusters/* /metrics* /agent
	}
	reverse_proxy @serverRoutes 127.0.0.1:8080

	@jsonAPI {
		path /projects /projects/* /alerts /backups /orgs /orgs/*
		header Accept application/json*
	}
	reverse_proxy @jsonAPI 127.0.0.1:8080

	reverse_proxy 127.0.0.1:5173
}
